<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfig</key>
	<dict>
		<key>ApiUrl</key>
		<string>$(SE_API_URL)</string>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>$(SE_BUNDLE_DISPLAY_NAME)</string>
</dict>
</plist>
